@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --font_header: Helvetica, sans-serif;

    --font_size_large: 1.4rem;
    --font_size_medium: 1.125rem;
    --font_size_regular: 1.18rem;
    --font_size_small: 0.812rem;
    --font_size_tiny: 0.688rem;

    --color_green: #a7bd96;
    --color_darkgreen: #072811;
    --color_lightgrey: #d9d5d5;
    --color_peach: #eb9264;
  }

  img {
    height: auto;
    display: block;
    object-fit: cover;
  }
  html,
  body {
    color: var(--color_darkgreen);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font_header);
    line-height: 1.2;
  }
  /* vi skal finde størrelser til mobil */
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.15rem;
  }

  p,
  a,
  li {
    line-height: 1.5;
    font-weight: normal;
  }
  p {
    font-size: var(--font_size_regular);
  }
  a {
    cursor: pointer;
    transition: all 0.55s ease;
  }
}
@media screen and (min-width: 550px) {
  body {
    padding-top: 30px;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  h6 {
    font-size: 1.25rem;
  }

  p {
    font-size: var(--font_size_medium);
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  h3 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.7rem;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }
}

@layer utilities {
  .slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
}
