@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Helvetica, sans-serif;
    --lightgreen: "#a7bd96";
    --green: "#072811";
  }
  h1 {
    font-size: 90px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-size: 68px;
    font-weight: bold;
  }
  h3 {
    font-size: 40px;
    font-weight: bold;
  }
  h4 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
