---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Titel">
  <article>
    <h1 class="text-left">SÅDAN LAVER DU EN DIGITAL <br />OPRYDNING</h1>
  </article>
</MainLayout>
