---
import MainLayout from "../layouts/MainLayout.astro";
import Knap from "../components/Knap.astro";
---

<MainLayout title="Titel">
<section class="">
<h1>DIGITAL CLEANUP DAY</h1>
<h3>15. MARTS 2025</h3>  
<Knap variant="primary" size="medium">Registrer dit databidrag!</Knap>
<div><h4>SAVE THE DATE</h4> <img src="kalender.svg" alt="kalender" class="hover:opacity-50"></div>
</section>

</MainLayout>

