---
import MainLayout from "../layouts/MainLayout.astro";
import Knap from "../components/Knap.astro";
---

<MainLayout title="Titel">
  <Knap variant="primary" size="medium">Registrer dit databidrag!</Knap>
  <h1 class="text-[var(--lightgreen)]"></h1>
</MainLayout>
