---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Titel">
<h1>Hej verden</h1>
<h2>hejsan svejsan</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat ullam neque laboriosam, atque optio dolor nulla nam eum ratione dolorem repudiandae nostrum animi enim blanditiis ipsa minima aliquam assumenda aut?</p>
</MainLayout>