---
import Footer from "../components/Footer.astro";
import Signup from "../components/Signup.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/tailwind.css";
---

<MainLayout title="Sign Up Page">
  <section class="grid md:grid-cols-2">
    <div>
      <h2>Bli en del av endringen!</h2>
      <p class="py-4">
        Siden 2020 har 175 forskellige lande og territorier deltaget i Digital
        Cleanup Day. Næsten 1,2 millioner mennesker har slettet over 14,5
        millioner GB data, hvilket forhindrer den årlige produktion af omkring
        3.625 tons CO2*.
      </p>
    </div>
    <div
      class="order-last pt-14 mx-auto md:order-first md:pr-6 md:pt-44 md:pl-0 sm:pt-28 lg:pt-16"
    >
      <Signup />
    </div>
  </section>
</MainLayout>
