---
const { variant = "primary", size = "medium" } = Astro.props;

const buttonStyling = "uppercase group";

const variantClasses = {
  primary: "",
  secondary: "",
};

const sizeClasses = {
  large: " py-2 text-xl",
  medium: " py-1 text-lg",
  small: " py-0.5 text-sm",
};
---

<a class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]} class="flex items-end gap-[6px]">
  <span class="group-hover:font-bold group-hover:underline transition-all duration-300 ease-in-out">
    <slot />
  </span>

  <img src="/public/kalender.svg" alt="kalender " class="h-8 w-8" />
</a>
