---

---

<div class="wrapper-contact">
    <form class="Contact contact-box" name="Contact">
      <h1>Sign up!</h1>
      <p>Register your contribution!</p>
  
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Peter Parker, Bruce Wayne..."
      />
  
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Maybe spiderman@email.com?"
      />
  
      <label for="School">School</label>
      <input type="text" id="School" name="School" placeholder="i.e. Hogwarts!" />
  
      <label for="uni-login">Uni-Login</label>
      <!-- Rettet label-tag -->
      <input
        type="text"
        id="uni-login"
        name="uni-login"
        placeholder="i.e. Diba001 or Sar0003"
      />
  
      <label for="photo">Add a picture to personalize your account!</label>
      <input
        class="photo_upload_button"
        type="file"
        id="photo"
        name="photo"
        accept="image/*"
      />
  
      <button type="submit" class="submit_button">Submit</button>
    </form>
  </div>