---
const { overskrift, underoverskrift, paragraf } = Astro.props;
---

<article class="grid grid-cols-2 items-center">
  <div>
    <h3 class="overskrift">{overskrift}</h3>
    <h5 class="underoverskrift text-lightgreen py-3">{underoverskrift}</h5>
    <p class="paragraf">{paragraf}</p>
  </div>
  <div class="flex justify-center items-center">
    <slot />
  </div>
</article>
