---
const { overskrift, underoverskrift, paragraf } = Astro.props;
---

<article class="px-12 pt-12 md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 items-center">
  <div class="flex justify-center items-center">
    <slot />
  </div>
  <div>
    <h3 class="overskrift">{overskrift}</h3>
    <h5 class="underoverskrift text-mediumgreen py-3 font-bold">{underoverskrift}</h5>
    <p class="paragraf">{paragraf}</p>
  </div>
</article>
